*{
    box-sizing: border-box;
}

table, th, td {
    border-top: 1px solid rgb(39, 33, 33);
    border-bottom: 1px solid rgb(39, 33, 33);
    border-collapse: collapse;
}
td, th{
    padding: 8px;
}
table{
    width: 75%;
    margin:  auto;
}
th{
    background-color:rgb(161, 142, 196);
    color: rgb(0, 0, 0);
}